.env
Scraping/Cruncher/cruncher/cruncher
cruncher.exe
.DS_Store
Scraping/Cruncher/cruncher/*.parquet
*.pyc
__pycache__
crunch-venv
working/*
Scraping/Cruncher/cruncher/sample/*
Scraping/Tally/sample/*
project-venv
catboost_info